.delegateNow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 607px;
  height: 175px;
  left: 0px;
  top: 0px;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 78px 0px;
}

.navbar {
  width: 100%;
  height: 98px;

  background: rgba(7, 11, 40, 0.1);
}

.landing {
  width: 100%;
  height: 825px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.landingCenter {
  width: 100%;
  height: 825px;
  background: url("./landing.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 14px;
  overflow: hidden;
}

.titleBox {
  position: absolute;

  left: 150px;
  top: 262px;
}

.titleText {
  font-family: 'Montserrat';
  font-size: 24px;
  color: #FFFFFF;

  width: 404px;
  margin: 20px 0px;
}

.titleTextHeader {
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 55px;

  color: #FFFFFF;
}
